<h1>
    Take time off in lieu
</h1>
<p>
    Use this page to expend (take off) the time off that you have accrued.
</p>
<p>
    Any time that you accrue will need to be approved by your manager before you may take that time off at a later date.
</p>
<p>
    Please note that any time you register to take off will need to be within 6 weeks of accruing it.
</p>

<%= react_component('ExpendLieuAccrual', {auth_token: form_authenticity_token}) %>
